#### Instructions:
##### Running a coding exercise for the first time could take a bit of time for everything to load. Be patient, it could take a few minutes.

##### When you see ____ in a coding exercise, replace it with what you assume to be the correct code. Run it and see if you obtain the desired output. Submit your code to validate if you were correct.

##### Make sure you remove the hash (#) symbol in the coding portions of this question. We have commented them so that the line won’t execute and you can test your code after each step.

##### Let’s examine our validation scores and training scores a bit more carefully and assess if our model is underfitting or overfitting.

##### This time we are looking at a new data set that contains the basketball players in the NBA. We are only going to use the players with a position of Guard (G) or Forward (F). We will be using features height, weight and salary to try to predict the player’s position, Guard or Forward.

##### Let’s take a quick look at it before diving in.

In [1]:
import pandas as pd

bball_df = pd.read_csv('bball.csv')
bball_df = bball_df[(bball_df['position'] =='G') | (bball_df['position'] =='F')]

bball_df.head()

,full_name,rating,jersey,team,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak,college
0,LeBron James,97,#23,Los Angeles Lakers,F,12/30/84,2.06,113.4,37436858.0,USA,2003,1,1,NaN
1,Kawhi Leonard,97,#2,Los Angeles Clippers,F,06/29/91,2.01,102.1,32742000.0,USA,2011,1,15,San Diego State
3,Kevin Durant,96,#7,Brooklyn Nets,F,09/29/88,2.08,104.3,37199000.0,USA,2007,1,2,Texas
4,James Harden,96,#13,Houston Rockets,G,08/26/89,1.96,99.8,38199000.0,USA,2009,1,3,Arizona State
5,Stephen Curry,95,#30,Golden State Warriors,G,03/14/88,1.91,83.9,40231758.0,USA,2009,1,7,Davidson

#### Tasks:

##### Cross-validate using cross_validate() on the objects X_train and y_train making sure to specify 10 folds and return_train_score=True.
##### Convert the scores into a dataframe and save it in an object named scores_df.
##### Calculate the mean value of each column and save this in an object named mean_scores.
##### Answer the question below.

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_validate

##### Loading in the data

In [3]:
bball_df = pd.read_csv('bball.csv')
bball_df = bball_df[(bball_df['position'] =='G') | (bball_df['position'] =='F')]

##### Define X and y

In [4]:
X = bball_df.loc[:, ['height', 'weight', 'salary']]
y = bball_df['position']

##### Split the dataset

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=31)

##### Create a model

In [6]:
model = DecisionTreeClassifier()

##### Cross validate

Cross-validate using cross_validate() on the objects X_train and y_train making sure to specify 10 folds and return_train_score=True.

In [10]:
cv = cross_validate(model, X_train, y_train, cv = 10, return_train_score=True)

##### Covert scores into a dataframe

Convert the scores into a dataframe and save it in an object named scores_df

In [11]:
scores_df = pd.DataFrame(cv)
scores_df

   fit_time  score_time  test_score  train_score
0  0.001737    0.000000    0.880000          1.0
1  0.004857    0.000000    0.880000          1.0
2  0.002889    0.000000    0.800000          1.0
3  0.000000    0.000000    0.880000          1.0
4  0.000000    0.004268    0.920000          1.0
5  0.000000    0.000000    0.916667          1.0
6  0.000000    0.000000    0.791667          1.0
7  0.010553    0.000000    0.916667          1.0
8  0.000000    0.004839    0.916667          1.0
9  0.000000    0.000000    0.916667          1.0

##### Calculate the mean value of each column

Calculate the mean value of each column and save this in an object named mean_scores

In [14]:
mean_scores = pd.DataFrame(pd.DataFrame(scores_df).mean())

##### Display each score mean value 
##### Remember that in this case "test_score" is actually "validation" score

In [15]:
mean_scores

                    0
fit_time     0.002004
score_time   0.000911
test_score   0.881833
train_score  1.000000

Question
Is this model overfitting or underfitting?

(A) Overfitting

(B) Underfitting

Answer:

Overfitting